In [3]:
import pandas as pd
import researchpy as rp

In [4]:
cotton = pd.read_csv("data/cotton.csv")
cotton.head(3)

   pct  tensile
0   15        7
1   15        7
2   15       15

In [5]:
rp.summary_cont(cotton["tensile"].groupby(cotton["pct"]))

     N  Mean      SD      SE  95% Conf.  Interval
pct
15   5   9.8  3.3466  1.4967     5.6446   13.9554
20   5  15.4  3.1305  1.4000    11.5130   19.2870
25   5  17.6  2.0736  0.9274    15.0252   20.1748
30   5  21.6  2.6077  1.1662    18.3621   24.8379
35   5  10.8  2.8636  1.2806     7.2444   14.3556

In [ ]:
# 선형 모델을 만든 후 분산 분석 표를 만드는 과정으로 간다.