In [5]:
import pandas as pd
import numpy as np
f = open("data/crab.txt","r")
crab = f.read()
print(crab)

   25.8  24.6  26.1  22.9  25.1  27.3  24.0  24.5  23.9  26.2
   24.3  24.6  23.3  25.5  28.1  24.8  23.5  26.3  25.4  25.5
   23.9  27.0  24.8  22.9  25.4

In [6]:
type(crab)

str

In [7]:
"""
1. 문자열 데이터를 분리
2. 실수형으로 변환 필요
"""
crab = crab.split()
print(crab)

['25.8', '24.6', '26.1', '22.9', '25.1', '27.3', '24.0', '24.5', '23.9', '26.2', '24.3', '24.6', '23.3', '25.5', '28.1', '24.8', '23.5', '26.3', '25.4', '25.5', '23.9', '27.0', '24.8', '22.9', '25.4']

In [8]:
fcrab = [float(x) for x in crab]
fcrab[0:5]

[25.8, 24.6, 26.1, 22.9, 25.1]

In [9]:
from scipy import stats

In [11]:
# 단일 표본에서 모평균 검정
crab_ttest = stats.ttest_1samp(fcrab,24.3)
crab_ttest
print("T value = %.3f, p-value = %.3f"%crab_ttest)

T value = 2.713, p-value = 0.012

In [16]:
#두 독립표본에서 평균 검정
drug = pd.read_csv("data/drug.csv")
drug.columns

Index(['drug', 'time'], dtype='object')

In [18]:
drugB = drug.loc[drug.drug=="B","time"]
drugB.head()

0    8.8
1    8.4
2    7.9
3    8.7
4    9.1
Name: time, dtype: float64

In [19]:
drugG = drug.loc[drug.drug=="G","time"]
drugG.head()

6      9.9
7      9.0
8     11.1
9      9.6
10     8.7
Name: time, dtype: float64

In [21]:
#ttest_ind 두 독립 표본에 대한 평균 검정
drug_ttest = stats.ttest_ind(drugB, drugG, equal_var = False)
drug_ttest

Ttest_indResult(statistic=-2.545400506120506, pvalue=0.027737003664852006)

In [24]:
deer = pd.read_csv("data/deer.csv")
print(deer.shape)
deer.head()

(10, 3)

   id  hleg  fleg
0   1   142   138
1   2   140   136
2   3   144   147
3   4   144   139
4   5   142   143

In [23]:
# 대응된 표본에서 평균 검증은 ttest_rel
stats.ttest_rel(deer.hleg, deer.fleg)

Ttest_relResult(statistic=3.413793103448276, pvalue=0.007703223347263766)